PORT=your-port
IS_PROD=your-is_prod
MONGO_CONNECTION_STRING=your-mongo_connection_string
MAILTRAP_HOST=your-mailtrap_host
MAILTRAP_PORT=your-mailtrap_port
MAILTRAP_USERNAME=your-mailtrap_username
MAILTRAP_PASSWORD=your-mailtrap_password
MAILTRAP_SENDEREMAIL=your-mailtrap_senderemail
BASE_URL=your-base_url
NODE_ENV=your-node_env